<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Converter</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="d-flex p-2 input-group col-8 input-group-lg">
                    <form class="col-12" method="POST" class="post-form">{% csrf_token %}{% load bootstrap %}
                        {{ form|bootstrap }}
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Погнали!" />
                    </form>
                </div>
                <div class="col-8">
                    <h5 class="text-center font-italic">Последние запросы</h5>
                    {% for link in links %}
                    <div class="list-group">
                        <a href="{{ link }}" class="list-group-item list-group-item-action">{{ link }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>